/******************************************************************
BUTTONS
Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

%btn, %btn:visited {
  display: inline-block;
  position: relative;
  font-family: $title-family;
  text-decoration: none;
  color: $white;
  font-size:1.1em;
  font-weight: normal;
  padding: .4em .5em .3em;
  border: 0;
  cursor: pointer;
  line-height: 1.5em;
  vertical-align: middle;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    background-color:$orange;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  &::after {
    content:' \f054';
    font-family: 'FontAwesome';
    font-size:.9em;
    padding-top:.2em;
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.button {
  @extend %btn; // here we load the btn defaults
  background-color: $link-color;

  &:hover,
  &:focus {
    background-color: darken($link-color, 4%);
  } // end hover

  &:active {
    background-color: darken($link-color, 5%);
  } // end active

  &.orange {

    background-color: $orange;

    &:hover,
    &:focus {
      background-color: darken($orange, 14%);
    } // end hover

    &:active {
      background-color: darken($orange, 5%);
    } // end active
  }

  &.small {
    font-size:1em;
  }
  
} // end blue button
