/******************************************************************
Typography
******************************************************************/

$sans-serif:        "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$title-family:      "Oswald", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;